<h1 class="peter-river"><%= @user.name %></h1>
<ul>
  <li>都道府県: <%= @user.prefecture.name %> </li>
  <li>性別: <%= @user.gender %> </li>
  <li>プロフィール: <%= @user.profile %> </li>
  <%= link_to "Edit", user_edit_path, data: { no_turbolink: true }  %>
</ul>
