<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user_auth.email %>
</p>

<p>
  <strong>Crypted password:</strong>
  <%= @user_auth.crypted_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @user_auth.salt %>
</p>

<%= link_to 'Edit', edit_user_auth_path(@user_auth) %> |
<%= link_to 'Back', user_auths_path %>
